@page "/"
@inject IDarkModeService DarkModeService
@using MudBlazor

<PageTitle>ENEMScore</PageTitle>

<!--Textos Bem vindo-->

<MudItem xs="12" md="8" class="items-left">
    <h1>
        <MudIcon Icon="@Icons.Material.Outlined.Home" />
        Bem Vindo ao ENEMScore!
    </h1>

    <p class="font-normal text-left">
        <i>Estamos aqui para ajudar você a alcançar seus objetivos no <strong>ENEM</strong>. <br> Explore nossos recursos e encontre o curso ideal para sua pontuação.</i>
    </p>
    <h3 class="text-3xl mt-6 flex items-center justify-left">
        Para começar: clique no menu superior esquerdo!
        <MudIcon Icon="@Icons.Material.Outlined.Menu" Class="ml-2" />
    </h3>

</MudItem>
<br>

<!--LOGO PRINCIPAL-->

<MudGrid>
    <MudItem class="items-center mx-auto mt-10">
        @if (DarkModeService.isDarkMode)
        {
            <MudImage Src="/img/logo-white.png"
                      Alt="Bem Vindo ao ENEMScore"
                      Style="height: 200px; width: auto;" />
        }
        else
        {
            <MudImage Src="/img/logo-enemscore.png"
                      Alt="Bem Vindo ao ENEMScore"
                      Style="height: 200px; width: auto;" />
        }
    </MudItem>
</MudGrid>

<!--Cards-->

<MudGrid Spacing="2" Class="flex flex-wrap justify-between mt-20 sm:mt-20 md:mt-20 lg:mt-20 xl:mt-20">
    
    <MudItem xs="12" sm="4" md="4">
        <MudLink Href="/Cursos" Class="block hover:scale-105 transition-transform duration-300">
            <MudCard Class="shadow-lg rounded-lg">
                <MudCardMedia Image="img/Imagem2.jpg"
                              Height="200"
                              ObjectFit="cover"
                              LazyLoad="true"
                              Class="filter brightness-80" />
            </MudCard>
        </MudLink>
    </MudItem>
    <MudItem xs="12" sm="4" md="4">
        <MudLink Href="/PesquisaPontos" Class="block hover:scale-105 transition-transform duration-300">
            <MudCard Class="shadow-lg rounded-lg">
                <MudCardMedia Image="img/Imagem1.jpg"
                              Height="200"
                              ObjectFit="cover"
                              LazyLoad="true"
                              Class="filter brightness-80" />
            </MudCard>
        </MudLink>
    </MudItem>
    <MudItem xs="12" sm="4" md="4">
        <MudLink Href="/Redacao" Class="block hover:scale-105 transition-transform duration-300">
            <MudCard Class="shadow-lg rounded-lg">
                <MudCardMedia Image="img/Imagem3.png"
                              Height="200"
                              ObjectFit="cover"
                              LazyLoad="true"
                              Class="filter brightness-80" />
            </MudCard>
        </MudLink>
    </MudItem>
</MudGrid>


<!--CODE C#-->

@code { 

    protected override void OnInitialized()
    {
        DarkModeService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        DarkModeService.OnChange -= StateHasChanged;
    }
      
}
