@page "/Sobre"

<PageTitle>Sobre</PageTitle>
@using MudBlazor

@page "/expansion"


<div>
    <MudItem xs="12" md="8" class="items-left">
        <h1 class="flex items-left">
            <MudIcon Icon="@Icons.Material.Outlined.Info" />
            Sobre ENEMScore!
        </h1>
    </MudItem>

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Expanded="@allPanelsExpanded" Text="O ENEMScore">
            O ENEMScore é uma inovadora aplicação desenvolvida para ajudar os estudantes a avaliar suas pontuações no Exame Nacional do Ensino Médio (ENEM) e identificar os cursos universitários mais adequados com base em seus resultados.<br>
            Com uma interface intuitiva e fácil de usar, o ENEMScore permite aos usuários verificar sua média de pontuação e buscar informações detalhadas sobre as melhores opções de cursos que correspondem ao seu desempenho.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Funcionalidades">
            Avaliação de Pontuação: Insira suas notas do ENEM e obtenha uma análise detalhada de seu desempenho.<br>
            Busca de Cursos: Descubra quais cursos são ideais para a sua pontuação e explore detalhes sobre cada opção.<br>
            Interface Amigável: Navegue facilmente por uma interface moderna e responsiva, projetada para tornar a experiência do usuário o mais agradável possível.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Desenvolvedores">
            O ENEMScore é um projeto do grupo do 4 período de ADS da UNINASSAU. <br>A equipe de desenvolvimento é composta por profissionais altamente qualificados,
            que combinam expertise em tecnologia com uma paixão por criar ferramentas úteis e eficazes para os usuários.<br>
            Com o uso de tecnologias de ponta como Blazor e Tailwind CSS, os desenvolvedores garantem que o ENEMScore não só ofereça um desempenho robusto, mas também uma experiência visual agradável e moderna.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Visão">
            Nosso objetivo é continuar aprimorando o ENEMScore com novas funcionalidades e atualizações, mantendo a aplicação alinhada às necessidades dos estudantes e às mudanças no exame.<br>
            Acreditamos que o ENEMScore será uma ferramenta indispensável para aqueles que buscam entender melhor seu desempenho e tomar decisões informadas sobre seu futuro acadêmico.<br>
            Para mais informações e atualizações sobre o ENEMScore, acompanhe nossas redes sociais e visite nosso site oficial.
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>

@code {
    private bool allPanelsExpanded = true;
}






