<!DOCTYPE html>
<html lang="pt-BR">
    
    
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />  
    <link rel="icon" type="image/ico" href="icon.ico" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>

    <!-- Código VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');  
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const weatherIcon = document.getElementById('weatherIcon');
            const tooltip = document.getElementById('tooltip');
            const tooltipContent = document.getElementById('tooltip-content');

            weatherIcon.addEventListener('mouseover', function (event) {
                // Pega os dados do ícone (temperatura, umidade, vento, etc.)
                const temperature = weatherIcon.getAttribute('data-temperature');
                const description = weatherIcon.getAttribute('data-description');
                const humidity = weatherIcon.getAttribute('data-humidity');
                const wind = weatherIcon.getAttribute('data-wind');

                // Preenche o conteúdo do tooltip
                tooltipContent.innerHTML = `
                        <strong>Descrição:</strong> ${description}<br>
                        <strong>Temperatura:</strong> ${temperature}°C<br>
                        <strong>Umidade:</strong> ${humidity}%<br>
                        <strong>Vento:</strong> ${wind} m/s
                    `;

                // Exibe o tooltip
                tooltip.style.display = 'block';
                tooltip.style.left = `${event.pageX + 10}px`; // Ajusta a posição do tooltip
                tooltip.style.top = `${event.pageY + 10}px`;
            });

            weatherIcon.addEventListener('mouseout', function () {
                // Esconde o tooltip quando o mouse sai do ícone
                tooltip.style.display = 'none';
            });
        });
    </script>

    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="js/BlazorQuill.js"></script>
</body>

</html>


